In [5]:
# March Madness Analysis
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

- first four teams are same seed - have a way to id winner/loser

In [6]:
# pre tourney data 2010-now (no 2020 - covid)
season25 = pd.read_csv("Data/summary25.csv")
season24 = pd.read_csv('Data/summary24_pt.csv')
season24 = season24.dropna()
season23 = pd.read_csv('Data/summary23_pt.csv')
season23 = season23.dropna()
season22 = pd.read_csv('Data/summary22_pt.csv')
season22 = season22.dropna()
season21 = pd.read_csv('Data/summary21_pt.csv')
season21 = season21.dropna()
season19 = pd.read_csv('Data/summary19_pt.csv')
season19 = season19.dropna()
season18 = pd.read_csv('Data/summary18_pt.csv')
season18 = season18.dropna()
season17 = pd.read_csv('Data/summary17_pt.csv')
season17 = season17.dropna()
season16 = pd.read_csv('Data/summary16_pt.csv')
season16 = season16.dropna()
season15 = pd.read_csv('Data/summary15_pt.csv')
season15 = season15.dropna()
season14 = pd.read_csv('Data/summary14_pt.csv')
season14 = season14.dropna()
season13 = pd.read_csv('Data/summary13_pt.csv')
season13 = season13.dropna()
season12 = pd.read_csv('Data/summary12_pt.csv')
season12 = season12.dropna()
season11 = pd.read_csv('Data/summary11_pt.csv')
season11 = season11.dropna()

In [7]:
# 25

tournament_teams = ['San Diego St.', 'North Carolina', 'Alabama St.', 'Saint Francis', 'American', "Mount St. Mary's", 'Texas', 'Xavier',
        'Auburn', 'Louisville', 'Creighton', 'Michigan', 'UC San Diego', 'Texas A&M', 'Yale', 'Mississippi', 'Iowa St.', 'Lipscomb',
        'Marquette', 'New Mexico', 'Michigan St.', 'Bryant', 'Florida', 'Norfolk St.', 'Connecticut', 'Oklahoma', 'Memphis', 'Colorado St.',
        'Maryland', 'Grand Canyon', 'Missouri', 'Drake', 'Texas Tech', 'UNC Wilmington', 'Kansas', 'Arkansas', "St. John's", 'Nebraska Omaha',
        'Duke', 'Mississippi St.', 'Baylor', 'Oregon', 'Liberty', 'Arizona', 'Akron', 'BYU', 'VCU', 'Wisconsin', 'Montana', "Saint Mary's",
        'Vanderbilt', 'Alabama', 'Robert Morris', 'Houston', 'SIUE', 'Gonzaga', 'Georgia', 'Clemson', 'McNeese', 'Purdue', 'High Point', 
        'Illinois', 'Kentucky', 'Troy', 'UCLA', 'Utah St.', 'Tennessee', 'Wofford']

seeds = [11, 11, 16, 16, 16, 16, 11, 11,
                    1, 8, 9, 5, 12, 4, 13, 6, 3, 14, 7, 10, 2, 15,
                    1, 16, 8, 9, 5, 12, 4, 13, 6, 11, 3, 14, 7, 10, 2, 15,
                    1, 8, 9, 5, 12, 4, 13, 6, 11, 3, 14, 7, 10, 2, 15,
                    1, 16, 8, 9, 5, 12, 4, 13, 6, 3, 14, 7, 10, 2, 15]

seed_mapping = dict(zip(tournament_teams, seeds))

season25['seed'] = season25['TeamName'].map(seed_mapping)

season25 = season25.dropna()

In [38]:
# combine all seasons
seasons = [season11, season12, season13, season14, season15, season16, season17, season18, season19, season21, season22, season23, season24, season25]
all_seasons = pd.concat(seasons, ignore_index=True)
all_seasons.dropna()

,Season,TeamName,Tempo,RankTempo,AdjTempo,RankAdjTempo,OE,RankOE,AdjOE,RankAdjOE,DE,RankDE,AdjDE,RankAdjDE,AdjEM,RankAdjEM,seed
0,2011,Akron,66.6580,184,66.2222,147,103.1750,132,103.2900,161,97.6911,81,99.5330,106,3.75741,125,15.0
1,2011,Alabama St.,66.1276,203,63.8590,259,92.1392,317,92.3675,311,96.6248,59,105.4370,238,-13.06990,302,16.0
2,2011,Arizona,67.0341,171,65.5658,176,112.7420,15,115.9360,14,98.9160,103,97.0522,67,18.88340,24,5.0
3,2011,Arkansas Little Rock,64.7645,263,64.4828,237,101.7810,167,100.1670,217,103.3540,216,104.6570,221,-4.48952,215,16.0
4,2011,Belmont,69.7082,43,68.7655,43,114.7650,9,112.2360,36,88.0346,2,93.2680,29,18.96770,23,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,2025,VCU,66.3663,269,66.0864,241,115.1090,31,116.3020,41,94.1108,5,95.6956,23,20.60650,30,11.0
948,2025,Wisconsin,68.6302,143,67.5868,152,115.8280,21,122.0150,13,102.2630,82,96.0401,27,25.97490,13,3.0
949,2025,Wofford,64.6329,336,64.0297,333,112.7820,51,113.6350,67,108.7370,246,109.4780,231,4.15756,120,15.0
950,2025,Xavier,69.4530,100,69.0669,74,111.5840,67,115.4620,52,101.4090,69,98.2650,44,17.19660,43,11.0
951,2025,Yale,68.7768,140,67.1761,184,117.7410,12,115.0860,59,102.3480,84,104.0410,117,11.04510,73,13.0

In [13]:
# round / seed win probabilities
rounds = [[1,1,154,2], [1,2,145,11], [1,3,133,23], [1,4,123,33], 
          [1,5,101,55], [1,6,95,61], [1,7,96,60], [1,8,75,81], 
          [1,9,81,75], [1,10,60,96], [1,11,61,95], [1,12,55,101], 
          [1,13,33,123], [1,14,23,133], [1,15,11,145], [1,16,2,154],
          [2,1,132,22], [2,2,99,46], [2,3,82,51], [2,4,74,54], 
          [2,5,54,47], [2,6,45,50], [2,7,29,67], [2,8,16,59], 
          [2,9,8,73], [2,10,24,36], [2,11,27,34], [2,12,22,33], 
          [2,13,6,27], [2,14,2,21], [2,15,4,7], [2,16,0,2], 
          [3,1,103,29], [3,2,69,30], [3,3,40,42], [3,4,25,49],
          [3,5,12,42], [3,6,17,28], [3,7,10,19], [3,8,9,7],
          [3,9,5,3], [3,10,9,15], [3,11,10,17], [3,12,2,20],
          [3,13,0,6], [3,14,0,2], [3,15,1,3], [3,16,0,0],
          [4,1,62,41], [4,2,32,37], [4,3,17,23], [4,4,15,10],
          [4,5,9,3], [4,6,3,14], [4,7,3,7], [4,8,6,3],
          [4,9,2,3], [4,10,1,8], [4,11,6,4], [4,12,0,2],
          [4,13,0,0], [4,14,0,0], [4,15,0,1], [4,16,0,0],
          [5,1,39,23], [5,2,13,19], [5,3,11,6], [5,4,4,11],
          [5,5,4,5], [5,6,2,1], [5,7,1,2], [5,8,4,2],
          [5,9,0,2], [5,10,0,1], [5,11,0,6], [5,12,0,0],
          [5,13,0,0], [5,14,0,0], [5,15,0,0], [5,16,0,0],
          [6,1,25,14], [6,2,5,8], [6,3,4,7], [6,4,2,2],
          [6,5,0,4], [6,6,1,1], [6,7,1,0], [6,8,1,3],
          [6,9,0,0], [6,10,0,0], [6,11,0,0], [6,12,0,0],
          [6,13,0,0], [6,14,0,0], [6,15,0,0], [6,16,0,0]]

round_seed_probabilities = pd.DataFrame(rounds,columns=['round', 'seed', 'wins', 'losses'])
round_seed_probabilities['%'] = round_seed_probabilities['wins'] / (round_seed_probabilities['wins'] + round_seed_probabilities['losses'])
round_seed_probabilities = round_seed_probabilities.fillna(0)

In [39]:
all_seasons[all_seasons['Season'] == 2025].groupby(all_seasons['RankAdjEM']).sum()

,Season,TeamName,Tempo,RankTempo,AdjTempo,RankAdjTempo,OE,RankOE,AdjOE,RankAdjOE,DE,RankDE,AdjDE,RankAdjDE,AdjEM,RankAdjEM,seed
RankAdjEM,,,,,,,,,,,,,,,,,
1,2025,Duke,66.5794,256,65.7236,266,124.282,1,127.9540,3,93.0646,3,89.7987,4,38.15530,1,1.0
2,2025,Florida,70.8342,44,69.5872,59,120.446,5,128.5990,1,97.6802,20,92.4369,10,36.16250,2,1.0
3,2025,Houston,62.4183,360,61.4223,360,116.890,18,123.2220,10,91.9137,1,87.7825,2,35.43960,3,1.0
4,2025,Auburn,68.8568,135,67.5814,153,121.014,4,128.4250,2,100.7990,61,93.3782,12,35.04720,4,1.0
5,2025,Tennessee,65.4662,308,63.6174,346,114.078,40,120.2740,18,96.3317,12,89.1215,3,31.15250,5,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,2025,SIUE,67.1543,227,65.8164,261,104.645,214,101.8830,255,100.3520,48,106.2000,160,-4.31673,217,16.0
237,2025,American,63.6519,357,63.4741,349,104.618,215,102.0540,252,105.0860,160,108.0300,205,-5.97620,237,16.0
250,2025,Mount St. Mary's,67.4682,204,67.3573,170,101.563,282,100.1450,292,102.0600,78,106.8130,176,-6.66831,250,16.0
273,2025,Alabama St.,69.0571,120,67.7449,142,103.998,228,101.4090,270,104.2010,129,110.6460,256,-9.23740,273,16.0
311,2025,Saint Francis,66.6493,254,66.9175,201,100.249,310,99.6743,299,107.9270,223,112.4350,293,-12.76110,311,16.0

In [47]:

all_seasons['RankAdjEM'] = all_seasons.groupby('Season')['AdjEM'].rank(method='min', ascending=False).astype(int)

all_seasons['_minRk'] = (all_seasons['seed'] * 4) - 3
all_seasons['_maxRk'] = (all_seasons['seed'] * 4)

# Determine if a team is underrated
all_seasons['underrated'] = all_seasons['RankAdjEM'] < all_seasons['_minRk']
all_seasons['overrated'] = all_seasons['RankAdjEM'] > all_seasons['_maxRk']


all_seasons[(all_seasons['seed'] == 3) & (all_seasons['Season'] == 2025)]
#all_seasons[all_seasons['Season'] == 2025].sort_values('RankAdjEM')

,Season,TeamName,Tempo,RankTempo,AdjTempo,RankAdjTempo,OE,RankOE,AdjOE,RankAdjOE,...,RankDE,AdjDE,RankAdjDE,AdjEM,RankAdjEM,seed,_minRk,_maxRk,underrated,overrated
907,2025,Iowa St.,69.4841,95,68.5575,102,113.820,41,119.430,20,...,14,92.4355,9,26.9947,10,3.0,9.0,12.0,False,False
909,2025,Kentucky,72.7146,11,70.9278,23,116.923,17,123.783,8,...,191,99.5245,56,24.2580,16,3.0,9.0,12.0,False,True
940,2025,Texas Tech,66.4040,266,65.4081,281,119.883,7,125.286,6,...,41,97.2353,37,28.0507,7,3.0,9.0,12.0,True,False
948,2025,Wisconsin,68.6302,143,67.5868,152,115.828,21,122.015,13,...,82,96.0401,27,25.9749,13,3.0,9.0,12.0,False,True